---
interface DateInfo {
  day: number;
  month: string;
  year: number;
}

interface Post {
  url: string;
  frontmatter: {
    title: string;
    date: DateInfo;
    description: string;
    readingTime: number;
  };
}

const posts = Object.values(
  await import.meta.glob<Post>("../pages/posts/*.md", { eager: true })
) as Post[];
---

{
  posts.map((post) => (
    <article class="overflow-hidden rounded-lg transition  mt-4 ">
      <div class="p-4 sm:p-6">
        <div class="flex justify-between gap-2">
          <time
            datetime={`${post.frontmatter.date.year}-${post.frontmatter.date.month}-${post.frontmatter.date.day}`}
            class="block text-xs text-gray-600/80 dark:text-white/80"
          >
            {`${post.frontmatter.date.day} - ${post.frontmatter.date.month} - ${post.frontmatter.date.year}`}
          </time>

          <p class="text-xs text-gray-600/80 dark:text-white/80">
            {post.frontmatter.readingTime} min read
          </p>
        </div>

        <a href={post.url}>
          <h3 class="text-xl font-bold text-yellow-400 dark:text-yellow-400">
            {post.frontmatter.title}
          </h3>
        </a>

        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-600 dark:text-gray-300">
          {post.frontmatter.description}
        </p>
      </div>
    </article>
  ))
}
